In [1]:
import pandas as pd
import seaborn as sns

In [2]:
data = pd.read_csv('Bank Customers Churn Prediction.csv')

#### Display Top 5 Rows of The Dataset

In [3]:
data.head()

,RowNumber,CustomerId,Surname,CreditScore,Geography,Gender,Age,Tenure,Balance,NumOfProducts,HasCrCard,IsActiveMember,EstimatedSalary,Exited
0,1,15634602,Hargrave,619,France,Female,42,2,0.00,1,1,1,101348.88,1
1,2,15647311,Hill,608,Spain,Female,41,1,83807.86,1,0,1,112542.58,0
2,3,15619304,Onio,502,France,Female,42,8,159660.80,3,1,0,113931.57,1
3,4,15701354,Boni,699,France,Female,39,1,0.00,2,0,0,93826.63,0
4,5,15737888,Mitchell,850,Spain,Female,43,2,125510.82,1,1,1,79084.10,0

#### Check Last 5 Rows of The Dataset

In [ ]:
data.tail()

#### Find Shape of Our Dataset (Number of Rows And Number of Columns)

In [ ]:
data.shape

In [ ]:
print("Number of Rows",data.shape[0])
print("Number of Columns",data.shape[1])

In [ ]:
data.info()

#### Check Null Values In The Dataset

In [ ]:
data.isnull().sum()

In [ ]:
data.describe(include='all')

#### Dropping Irrelevant Features

In [ ]:
data.columns

In [ ]:
data = data.drop(['RowNumber', 'CustomerId', 'Surname'],axis=1)

In [ ]:
data.head()

#### Encoding Categorical Data

In [ ]:
data['Geography'].unique()

In [ ]:
data = pd.get_dummies(data,drop_first=True)

In [ ]:
data.head()

#### Not Handling Imbalanced

In [ ]:
data['Exited'].value_counts()

In [ ]:
sns.countplot(data['Exited'])

In [ ]:
X = data.drop('Exited',axis=1)
y = data['Exited']

#### Handling Imbalanced Data With SMOTE

In [ ]:
from imblearn.over_sampling import SMOTE

In [ ]:
X_res,y_res = SMOTE().fit_resample(X,y)

In [ ]:
y_res.value_counts()

#### Splitting The Dataset Into The Training Set And Test Set

In [ ]:
from sklearn.model_selection import train_test_split

In [ ]:
X_train,X_test,y_train,y_test=train_test_split(X_res,y_res,test_size=0.20,random_state=42)

In [ ]:
from sklearn.preprocessing import StandardScaler

In [ ]:
sc= StandardScaler()

In [ ]:
X_train=sc.fit_transform(X_train)
X_test = sc.transform(X_test)

In [ ]:
X_train

#### Logistic Regression

In [ ]:
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score
log = LogisticRegression()

In [ ]:
log.fit(X_train,y_train)

In [ ]:
y_pred1 = log.predict(X_test)

In [ ]:
accuracy_score(y_test,y_pred1)

In [ ]:
accuracy_score(y_test,y_pred1)

In [ ]:
from sklearn.metrics import precision_score,recall_score,f1_score

In [ ]:
precision_score(y_test,y_pred1)

In [ ]:
recall_score(y_test,y_pred1)

In [ ]:
f1_score(y_test,y_pred1)

In [ ]:
pc = TP / (FP + TP)

In [ ]:
rc = TP / (TP + FN)